<nav>
    <span>
        <h2>Scrape-N-Talk</h2>
    </span>
    <a href="index.handlebars">Home</a>
    <a href="savedArticles.handlebars">Saved Articles</a>
    <button id="get-articles">SCRAPE NEW ARTICLES</button>
</nav>
<div id="img-container">
    <img src="images/readingNews.jpg" alt="Background image">
    <div class="img-text">
        <h1>Saved Articles</h1>
        <h3>Your Saved Articles</h3>
    </div>
</div>